@font-face {
    font-family: "BlackOpsOne";
    src: url("resources/fonts/BlackOpsOne-Regular.ttf")
}

@font-face {
    font-family: "Anton";
    src: url("resources/fonts/Anton-Regular.ttf")
}

@font-face {
    font-family: "AnStaatlicheston";
    src: url("resources/fonts/Staatliches-Regular.ttf")
}

@font-face {
    font-family: "Orbitron";
    src: url("resources/fonts/Orbitron-VariableFont_wght.ttf")
}

body{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

div.header {
    display:block;
    text-align: center;
    margin: 0%;
    padding: 35px 0px;
    background-color: black;
}

div.header > a.logo{
    font-family: "BlackOpsOne";
    font-size: 69px;
    color:white;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

div.header > p {
    margin: 0px;
    cursor: default;
    font-size: 42px;
    font-style: italic;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    
}

a.logo:hover {
    opacity: 0.7;
    transition: 0.2s;
}

.topbar{
    display: flex;
    background-color: black;
    height: fit-content;
    padding: 5px 0px;
    color: whitesmoke;
}
.topbar > div.social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:16px;
    width: 50%;
}

.topbar > div.contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

div.contact > a {
    margin: 0px 1%;
    transition: 0.2s;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}
div.contact > a:hover {
    transition: 0.2s;
    opacity: 0.7;
}

a.fab {
    padding: 10px;
    text-align: center;
    text-decoration: none;
 }
 
 a.fab:hover {
     opacity: 0.7;
 }

 a.fab.fa-facebook-f {
    background: #3B5998;
    color: white;
  }

 a.fab.fa-linkedin-in {
    background: #007bb5;
    color: white;
  }
  a.fab.fa-instagram {
    color: white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

div.navbar {
    display: flex;
    flex-flow: wrap;
    height: fit-content;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-family: "BlackOpsOne";
    font-size: 20px;
    font-weight: 500;
}

div.navbar > a.button {
    display: block;
    margin: 0px 5px;
    background-color: rgba(255,255,255,0.9);
    color: black;
    height: 20px;
    padding: 10px;
    border: 4px solid black;
    border-radius: 10px;
    transition: 0.2s;
}
div.navbar > a.button:hover {
    transition: 0.2s;
    color: white;
    background-color: rgba(0,0,0,1);
}

div.wrapper{
    display:flex;
    padding-bottom: 150px;
    background-color: black;
}

div.advert{
    background-color:black;
    width:10%;
}

div.content{
    width: 80%;
    background-image: url(resources/images/splash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
}

div.content > div.box{
    display: block;
    margin: 1% 5%;
    padding: 2%;
    border-radius: 10px;
    height: fit-content;
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    font-family: 'BlackOpsOne';
}

div.box > h1{
    font-family: "Orbitron";
    font-size: 42px;
    margin: 0%;
    padding: 10px;
    text-align: center;
}

div.box > p{
    font-family: "Staatliches";
    margin: 2% 15%;
    padding: 10px;
    font-size: 32px;
    text-align: center;
}

div.box > a.button {
    display: block;
    margin: 0% 25%;
    border: 4px solid black;
    border-radius: 10px;
    padding: 10px;
    transition:0.2s;
}

div.box > a.button:hover {
    color:white;
    background-color: black;
    transition:0.2s;
}

div.separator{
    margin: 0% 25%;
    height: 5px;
    background-color: rgba(0,0,0,0.8);
}